@media screen and (max-width: 780px) {
    aside {
        width: 0!important;
        opacity: 0!important;
    }
    main {

        width: 100%!important;
    }
    main div{

        width: 100%!important;
    }
    main input {
        width: 100%!important;
    }
    .profile-main-info {
        width: 100%!important;
    }
}
body, html {
    scrollbar-face-color: ThreeDFace !important;
    scrollbar-shadow-color: ThreeDDarkShadow !important;
    scrollbar-highlight-color: ThreeDHighlight !important;
    scrollbar-3dlight-color: ThreeDLightShadow !important;
    scrollbar-darkshadow-color: ThreeDDarkShadow !important;
    scrollbar-track-color: Scrollbar !important;
    scrollbar-arrow-color: ButtonText !important;
    height: 100%;
}
html {
    overflow-x: hidden;
}
body {
    display: inline;
}
header {
    background-color: #3c7a89;
    position: absolute;
    z-index: 10000;
    height: 70px;
    width: 100%;
    top: 0;
}
header input {
    margin: 0 5px;
    background: none;
    border: none;
    color: #fff;
    padding: 23px 20px 15px 20px;
    font: lighter 13pt Arial;
}
header input:hover {
    background: #163644;
}
header div {
    float: left;
}
aside {
    margin-top: 70px;
    position: absolute;
    width: 20%;
    border-right: solid 3px #cad4d6;
    float: left;
    height: calc(100% - 70px);
    top: 0;
    transition: 0.3s ease-in-out;
    opacity: 1;
}
aside input {
    position: relative;
    width: calc(100% - 30px);
    margin: 20px auto 20px 20px;
}

main{
    margin-top: 70px;
    position: absolute;
    width: 80%;
    height: calc(100% - 83px);
    right: 0;
    float: right;
    overflow-y: scroll;
    transition: 0.3s ease-in-out;
}
main div{
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.messages {
    position: absolute;
    top: 0;
}
.new_message {
    position: fixed;
    width: 80%;
    bottom: 0;
    margin-left: 0;
    height: 30px;
    padding: 5px 0;
}
.info {
    max-width: 100px;
    max-height: 20px;
    position: fixed;
    right: 0;
    bottom: 5px;
}
.info button {
    background: none;
    padding: 0;
    outline: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #f91d25;
}

#logo{
    background-size: 100%;
    opacity: 1;
    padding: 0;
    height: 70px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    float: none;
    height: 8em;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-top: 1px solid #cad4d6;
    margin: 0;
    padding: 0 0 0 20px;
}

li:last-child {
    border-bottom: 1px solid #cad4d6;
}
li:hover {
    background-color: #cad4d6;
}
.active {
    background-color: #fff;
    color: #6dcff6;
    border: none;
    border-top: 1px solid #cad4d6;
}
.active:hover {
    background-color: #9ddff9;
}

#chatPreView {
    position: relative;
}

/*settings page*/
.main-info {
    position: fixed;
    z-index: 10001;
    height: calc(100% - 70px);
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

#settings {
    height: 100%;
    width: 60%;
    margin: 95px auto 0 auto;
    min-width: 401px;
}
.center {
    width: 60%;
    margin: 20px auto;
}

input[disabled]{
    background: none;
    border: none;
    width: auto;
}

.main-info input{
    top: -165px;
    position: relative;
}
.main-info p{
     position: relative;
     float: left;
     left: 180px;
     margin: 0 160px 20px 0;
 }

.back {
    z-index: 10001;
    background: url("../img/ico/ic_arrow_back_24px_dark.png") no-repeat;
    top: 100px;
    left: 10%;
    position: absolute;
    background-size: 50px;
    height: 50px;
    width: 50px;
    opacity: 0.4;
    transition: 0.2s ease-in-out ;
    border: none
}

.back:hover {
    background-color: rgba(0,0,0,0);
    background-image: url("../img/ico/ic_arrow_back_24px_dark.png");
    cursor: pointer;
    opacity: 1;
}
.back:active {
    border: none;
}
/*contacts modal*/
.contact {
    left: 0;
}
.contacts {

    z-index: 10100;
    position: absolute;
    width: 100%;
    height: 100%;
}
.contacts .forms {
    position: fixed;
    width: 500px;
    padding: 12px;
    height: 100px;
    background-color: #fff;
    margin: -12px 0 0 -12px;
}
.contacts-content{
    position: relative;
    padding: 12px;
    z-index: 21;
    width: 500px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto 0 auto;
}
.contacts-users {
    margin-top: 100px;
    overflow-y: scroll;
    height: 100%!important;
}
.conshadow {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    overflow: hidden;
}
div.conshadow.active:hover {
    background-color: #000000;
}
input.user-contacts.active {
    background: none;
    color: #fff
}
legend {
    width: 100%;
}
.contacts input {
    width: 100%;
}
.contacts a{
    color: #31b0d5;
    font: lighter 12pt Arial;
    position: relative;
    width: auto;
    right: 0;
    float: right;
    margin: 0;
    padding: 0;
}
.contacts a:hover{
    color: #31a0a5;
    background: none;
}
.contacts ul{
    margin-top: 0;
}

/*profile fragment*/
.mini-avatar {
    height: 50px;
}
.user-profile {

}
.profile-main-info {
    bottom: 0;
    position: fixed;
    z-index: 10001;
    width: 80%;
    height: calc(100% - 70px);
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
.profile-shadow {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    overflow: hidden;
    left: 0;
}
.profile {
    margin-left: 20%;
}

.ng-hide-add {
    -webkit-animation:0.3s lightSpeedOut ease;
    animation:0.3s lightSpeedOut ease;
}
.ng-hide-remove {
    -webkit-animation:0.3s lightSpeedIn ease;
    animation:0.3s lightSpeedIn ease;
}

.profile.ng-hide-remove {
    -webkit-animation:0.3s profileIn ease;
    animation:0.3s profileIn ease;
}
.profile.ng-hide-add {
    -webkit-animation:0.3s profileOut ease;
    animation:0.3s profileOut ease;
}

@-webkit-keyframes lightSpeedIn {
    0% {
        right:-80%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    0% {
        right: -80%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
        right: 0;
    }

    100% {
        right: -80%;
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        right: 0;
        opacity: 1;
    }

    100% {
        right: -80%;
        opacity: 0;
    }
}

@-webkit-keyframes profileIn {
    0% {
        right:-60%;
        opacity: 0;
    }

    100% {
        right: -20%;
        opacity: 1;
    }
}

@keyframes profileIn {
    0% {
        right: -60%;
        opacity: 0;
    }

    100% {
        right: -20%;
        opacity: 1;
    }
}

@-webkit-keyframes profileOut {
    0% {
        opacity: 1;
        right: -20%;
    }

    100% {
        right: -60%;
        opacity: 0;
    }
}

@keyframes profileOut {
    0% {
        right: -20%;
        opacity: 1;
    }

    100% {
        right: -60%;
        opacity: 0;
    }
}


