@media screen and (max-width: 1024px) {
    aside {
        width: 0!important;
        opacity: 0!important;
    }
    main {

        width: 100%!important;
    }
    main div{
        width: 100%!important;
    }
    main input {
        width: 100%!important;
    }
    .profile-main-info {
        width: 100%!important;
    }
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    content: url("../img/preload.gif");
}
::-webkit-scrollbar {
    display: none;
}
body, html {
    height: 99%;
}
html {
    overflow-x: hidden;
}
body {
    display: inline;
}
header {
    background-color: #3c7a89;
    position: absolute;
    z-index: 10000;
    height: 70px;
    width: 100%;
    top: 0;
}
header button {
    position: relative;
    top: -10px;
    margin: 0 5px!important;
    background: none;
    border: none;
    color: #fff!important;
    padding: 25px 30px 43px 30px!important;
}
header input:active {
    background: none;
}
header input:focus{
    background: none;
}
header div {
    float: left;
}
aside {
    margin-top: 70px;
    position: absolute;
    width: 20%;
    border-right: solid 3px #cad4d6;
    float: left;
    height: calc(100% - 70px);
    top: 0;
    transition: 0.3s ease-in-out;
    opacity: 1;
}
aside input {
    position: relative;
    width: calc(100% - 30px);
    margin: 20px auto 20px 20px;
}

main{
    margin-top: 70px;
    position: absolute;
    width: 80%;
    height: calc(100% - 83px);
    right: 0;
    float: right;
    overflow-y: scroll;
    transition: 0.3s ease-in-out;
}
main div{
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.messages {
    position: absolute;
    top: 0;
}
.new_message {
    position: fixed;
    width: 80%;
    bottom: 0;
    margin: 0!important;
    height: 30px;
    padding: 5px 0;
}
.info {
    max-width: 30px;
    max-height: 30px;
    position: fixed;
    right: 30px;
    bottom: 13px;
}
.info button {
    font-size: 2rem;
    padding: 0;
}
.info button[disabled]{
    opacity: 0.6;
}
#logo{
    position: relative;
    height: 60px;
    top: 0;
    right: 0;
}
.av {
    height: 60px;
    position: relative;
    right: 50px;
    float: right;
    padding: 0!important;
    display: inline-block;
}

.contacts ul {
    list-style: none;
    padding: 0;
}
.navigation {
    opacity: 0.4;
    position: absolute!important;
    left: 20px!important;
    padding: 0!important;
    height: 60px!important;
    z-index: 10002;
}
.navigation:hover {
    opacity: 1;
}
.navigation i{
    color: #e0e0e0;
}
.contacts li {
    float: none;
    height: 8em;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    margin: 0;
    padding: 0 0 0 20px;
}

.contacts li:last-child {
    border-bottom: 1px solid #cad4d6;
}
.contacts li:hover {
    background-color: #cad4d6;
}
.active {
    background-color: #fff;
    color: #6dcff6;
    border: none;
    border-top: 1px solid #cad4d6;
}
.active:hover {
    background-color: #9ddff9;
}

#chatPreView {
    position: relative;
}

/*settings page*/
.main-info {
    position: fixed;
    z-index: 10001;
    height: calc(100% - 70px);
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

#settings {
    height: 100%;
    width: 60%;
    margin: 95px auto 0 auto;
    min-width: 401px;
}
.center {
    width: 60%;
    margin: 20px auto;
}

input[disabled]{
    background: none;
    border: none;
    width: auto;
}

.main-info input{
    top: -165px;
    position: relative;
}
.main-info p{
     position: relative;
     float: left;
     left: 180px;
     margin: 0 160px 20px 0;
 }

.back {
    top: 100px;
    left: 10%;
    position: absolute;
    opacity: 0.4;
    transition: 0.2s ease-in-out ;
}

.back:hover {
    cursor: pointer;
    opacity: 1;
}

/*contacts modal*/
.contact {
    left: 0;
}
.contacts {
    z-index: 10002;
    position: absolute;
    width: 100%;
    height: 100%;
}
.contacts li span, .move-bitch {
    position: relative;
    left: 60px;
}
.contacts li p {
    color: #616161;
}

.contacts .forms {
    position: fixed;
    width: 500px;
    padding: 12px;
    height: 100px;
    background-color: #fff;
    margin: -12px 0 0 -12px;
}
.contacts-content{
    position: relative;
    z-index: 21;
    width: 500px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto 0 auto;
}
.add-new {
    padding: 20px;
    height: 180px;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    overflow: hidden;
}
.add-contact {
    position: absolute;
    width: 49%;
    right: 0!important;
}
.close {
    position: absolute;
    width: 50%;
    left: 0;
}
.contacts-users {
    margin-top: 100px;
    height: 100%!important;
}
.collection {
    background-color: #fff;
    height: 100%;
}
.contacts-content div {
    background-color: #fff;
}
.photo-preview {
    position: absolute;
    left: 15px;
    height: 69px;
    width: 61px;
}
.contolls a {
    color: #fff;
    padding: 15px 20px 55px 20px;
    margin: 0!important;
}
.conshadow {
    position: absolute!important;
    left: 0!important;
    top: 0!important;

    width: 100%!important;
    height: 100%!important;
    background-color: #000000!important;
    opacity: 0.4;
    overflow: hidden;
}
div.conshadow:hover {
    background-color: #000000!important;
}
input.user-contacts.active {
    background: none;
    color: #fff
}
legend {
    width: 100%;
}
.contacts input {
    width: 100%;
}
.contacts a{
    color: #31b0d5;
    font: lighter 12pt Arial;
    position: relative;
    width: auto;
    right: 0;
    float: right;
    margin: 0;
    padding: 0;
}
.contacts a:hover{
    color: #31a0a5;
    background: none;
}
.contacts ul{
    margin-top: 0;
}

/*profile fragment*/
.mini-avatar {
    height: 50px;
}
.user-profile {

}
.profile-main-info {
    bottom: 0;
    position: fixed;
    z-index: 10001;
    width: 80%;
    height: calc(100% - 70px);
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
.profile-shadow {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    overflow: hidden;
    left: 0;
}
.profile {
    margin-top: 80px;
    margin-left: 20%;
    height: calc(100% - 50px);
}

.ng-hide-add {
    -webkit-animation:0.3s lightSpeedOut ease;
    animation:0.3s lightSpeedOut ease;
}
.animate-frag {
    -webkit-animation:0.3s lightSpeedIn ease;
    animation:0.3s lightSpeedIn ease;
}

.profile.ng-hide-remove {
    -webkit-animation:0.3s profileIn ease;
    animation:0.3s profileIn ease;
}
.profile.ng-hide-add {
    -webkit-animation:0.3s profileOut ease;
    animation:0.3s profileOut ease;
}

@-webkit-keyframes lightSpeedIn {
    0% {
        right:-80%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    0% {
        right: -80%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
        right: 0;
    }

    100% {
        right: -80%;
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        right: 0;
        opacity: 1;
    }

    100% {
        right: -80%;
        opacity: 0;
    }
}

@-webkit-keyframes profileIn {
    0% {
        right:-60%;
        opacity: 0;
    }

    100% {
        right: -20%;
        opacity: 1;
    }
}

@keyframes profileIn {
    0% {
        right: -60%;
        opacity: 0;
    }

    100% {
        right: -20%;
        opacity: 1;
    }
}

@-webkit-keyframes profileOut {
    0% {
        opacity: 1;
        right: -20%;
    }

    100% {
        right: -60%;
        opacity: 0;
    }
}

@keyframes profileOut {
    0% {
        right: -20%;
        opacity: 1;
    }

    100% {
        right: -60%;
        opacity: 0;
    }
}
 /*Default view */
.view{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 300ms;
}

 /*Second animation*/
.second .view.ng-enter{
    left: 100%;
}

.second .view.ng-enter.ng-enter-active{
    left: 0%;
}

.second .view.ng-leave{
    left: 0%;
}

.second .view.ng-leave.ng-leave-active{
    left: 100%;
}

/* First animation*/
.first .view.ng-enter{
    opacity: 0;
}

.first .view.ng-enter.ng-enter-active{
    opacity: 1;
}

.first .view.ng-leave{
    opacity: 1;
}

.first .view.ng-leave.ng-leave-active{
    opacity: 0;
}

.collection{
    margin: 0!important;
}
/*messages*/
.usr-avatar {
    height: 50px;
}