#logo {
    position: relative;
    background: url(../img/cactusfont.png) no-repeat;
    background-size: 170px;
    margin: 10px 0 0 20px;
    height: 60px;
    width: 170px;
    z-index: 901;
    left: 0;
    float: left;
    opacity: 0;
}
h1 {
    margin-top: 50px;
    font: bolder 30pt Arial;
    text-align: center;
}
#header{
    position:fixed;
    z-index:902;
    width: 100%;
    left: 0;
}
#header a{
    position: relative;
    float: right;
    margin: 20px 30px 0 0;
    z-index: 901;
}
#header input{
    position: relative;
    float: right;
    margin: 20px 30px 0 0;
    z-index: 901;
}
a {
    color: white;
    font: normal 15pt Arial;
    margin-right: 15px;
    padding: 10px 20px;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    background-color: #286090;
    color: #ffffff;
}
#header.btn, .btn-default {
    background: none;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font: normal 15pt Arial;
    margin-top: -5px;
    padding: 10px 20px;
}
#header.btn:hover,
.btn-default:hover,
.btn:active,
.btn-default:active,
.btn:focus,
.btn-default:focus{
    border-radius: 0;
    color: #ffffff;
    background-color: #286090;
}
input, input:focus {
     outline: 0;
 }

/*styles for sign-in and sign_up pages*/

.ui-dialog-titlebar-close {
    visibility: hidden;
}
#signpop, #sign_in, #sign_up {
    z-index: 901;
    position: relative;
}
#sign_in p, #sign_up p{
    text-align: center;
    font: normal 15pt Arial;
}
#sign_in, #sign_up p {
    background-color: #ffffff;
    padding: 20px 20px 20px 30px;
}

#sign_in input, #sign_up input{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    height: 30pt;
    width: 99%;
    padding-left: 10px;
    font: lighter 15pt Arial!important;
}
#sign_in button, #sign_up button{
    margin: 20px auto 10px auto;
}
.backdrop {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
}
#sub-in {
    height: 30pt;
    width: 99%;
    background-color: #6dcff6;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font: lighter 15pt Arial;
    border: none;
}
#sub-in:hover {
    background-color: #51a9cc;
}

.fuckshadows {
    box-shadow: 0;
}
.modal-body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.modal-title {
    text-align: center;
}
.modal-content, .modal-content div{
    box-shadow: none;
    border: none;
}
.modal-dialog{
    margin-top: 100px;

}

.css-form input.ng-invalid.ng-touched {
    border: #FA787E solid 3px;
    background: url("../img/noway.png") no-repeat 97%;
    background-size: 15pt;
    box-shadow: none;
}
@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px) rotateY(-5deg)}
    37.5% {transform: translateX(5px) rotateY(4deg)}
    62.5% {transform: translateX(-3px) rotateY(-2deg)}
    87.5% {transform: translateX(2px) rotateY(1deg)}
    100% {transform: translateX(0)}
}

.shake {
    animation: shake 400ms ease-in-out;
}
#headback {
    position: fixed;
    z-index: 800;
    width: 100%;
    height: 83px;
    background-color: #3b81af;
    left: 0;
    opacity: 0;
}
/*auth page*/
#tabs {
    padding: 20px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #6dcff6;
    color: #fff;
    cursor: pointer;
}
#mainView {
    clear: both;
    padding: 0 1em;
}
.active {
    background-color: #fff;
    color: #6dcff6;
    border: 1px solid #6dcff6;
}
.active:hover {
    background-color: #9ddff9;
}