body {
    background-image: url(../img/back.png);
}
#logo {
    background: url(../img/cactusfont.png) no-repeat;
    background-size: 150px;
    margin: 10px 0 0 20px;
    height: 60px;
    width: 150px;

}
#uh-oh {
    background: url(../img/kek.png) no-repeat;
    background-size: 350px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 450px;
    max-height: 500px;
}
h1 {
    margin-top: 50px;
    font: bolder 30pt Arial;
    text-align: center;
}
#header {
    float: right;
    margin: -50px 30px 0 0;
}
a {
    color: white;
    font: normal 15pt Arial;
    margin-right: 15px;
}
a:hover {
    text-decoration: none;
}

/*styles for sign-in page*/
#signpop {
    margin-top: -10%;
    width: 30%;
    height: 50%;
}
#sign_in p{
    text-align: center;
    font: normal 15pt Arial;
}
#sign_in {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    padding: 20px 10px 20px 30px;
}
#sign_in label {
    position: relative;
    top: -25px;
}
#sign_in input {
    position: relative;
    right: auto;
    left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
}
#sign_in button {
    margin: 20px auto 10px auto;
}