#logo {
    position: relative;
    background: url(../img/hoody.png) no-repeat;
    background-position-y: -40px;
    margin: 0 0 0 20px;
    height: 60px;
    width: 80px;
    z-index: 901;
    left: 0;
    float: left;
    opacity: 0;
}
h1 {
    margin-top: 50px;
    font: bolder 30pt Arial;
    text-align: center;
}
#header{
    position:fixed;
    z-index:902;
    width: 100%;
    left: 0;
}
#header a{
    position: relative;
    float: right;
    margin: 20px 30px 0 0;
    z-index: 901;
}
#header input{
    position: relative;
    float: right;
    margin: 20px 30px 0 0;
    z-index: 901;
}
a {
    color: white!important;
    font-size: 15pt;
    margin-right: 15px;
    padding: 10px 20px;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    background-color: #286090;
    color: #ffffff;
}
#header.btn, .btn-default {
    background: none;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font: normal 15pt Arial;
    margin-top: -5px;
    padding: 10px 20px;
}
#header.btn:hover,
.btn-default:hover,
.btn:active,
.btn-default:active,
.btn:focus,
.btn-default:focus{
    border-radius: 0;
    color: #ffffff;
    background-color: #286090;
}
input, input:focus {
     outline: 0;
 }

