<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name = "description" content = "" />
    <meta name = "keywords" content = "" />
    <meta name = "robots" content = "" />


    <link th:href="@{/resources/css/chatstyle.css}" href="../resources/css/chatstyle.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/css/materialize.min.css}" href="../resources/css/materialize.min.css" rel="stylesheet" type="text/css"/>

    <title th:text="#{main.title}"></title>

</head>
<body ng-app="ChatApp" >
<div ng-view="" class="contolls"></div>
    <div ng-controller="HeaderContacts">
    <header class="greenheader blue darken-4 contolls">
        <a id="logo" href="/cactus/"></a>
            <button id="user-settings" class="waves-effect waves-darken blue darken-4 btn-flat" ng-click="setting = !setting" >Settings</button>
            <a href="#/contacts" id="user-contacts" class="waves-effect waves-darken blue darken-4 btn-flat">Contacts</a>
            <!--<button id="user-new" class="waves-effect waves-darken blue darken-4 btn-flat" ng-click="add_cont = !add_cont" >New Contact</button>-->
            <a href="#/profile" id="user-profile" class="waves-effect waves-darken blue darken-4 btn-flat"  ng-click="loadProfile()">Profile</a>

    </header>
        <div class="contacts" ng-show="setting">
            <div ng-include="'/cactus/pages/settings_frag.html'"></div>
            <div class="back" ng-click="setting = false" ng-class="{ active: setting }"></div>
        </div>
        <div class="contact contacts" ng-show="contacts">
            <div ng-include="'/cactus/pages/contacts_frag.html'"></div>
            <div class="conshadow" ng-click="contacts = false" ng-class="{ active: contacts }"></div>
        </div>
        <div class="profile contacts" ng-show="profile">
            <div ng-include="'/cactus/pages/profile_frag.html'"></div>


        </div>
    </div>

    <div ng-controller="ChatApi as api">
        <aside id="chatlist" style="overflow-y: scroll">
            <input ng-model="searchText" />
            <div>
                <ul>
                    <li ng-repeat="chat in chats | filter:searchText"
                        ng-class="{active:isActiveChat(chat.url)}"
                        ng-click="onClickChat(chat)">{{chat.list.partner.username}}</li>
                </ul>
            </div>

        </aside>
        <div class="fixed-action-btn" style="position: fixed; bottom: 10px; right: 60px;">
            <a>
                <i class="middle mdi-editor-attach-file"></i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="large mdi-editor-insert-chart"></i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="large mdi-editor-format-quote"></i></a></li>
                <li><a class="btn-floating green"><i class="large mdi-editor-publish"></i></a></li>
                <li><a class="btn-floating blue"><i class="large mdi-editor-attach-file"></i></a></li>
            </ul>
        </div>
        <main>
            <div id="chatPreView">
                <div ng-repeat="profile in profiles" class="user-profile">
                    <img class="mini-avatar" ng-src="{{profile.id2.avatar}}" />
                    <div class="user-name">{{profile.response.name}}</div>
                    <div class="user-nick">{{profile.id2.username}}</div>
                </div>
                <div ng-include="currentChat"></div>
                <div class="messages">
                    <p ng-repeat="history in history| orderBy:'history.id':true" class="message">
                        <time>{{history.time | date:'HH:mm:ss'}}</time>
                        <span ng-class="{self: history.self}">{{history.text}}</span>
                    </p>
                <p ng-repeat="message in messages | orderBy:'message.id':true" class="message">
                <time>{{message.time | date:'HH:mm:ss'}}</time>
                <span ng-class="{self: message.self}">{{message.message}}</span>
                </p>
                </div>
            </div>

            <form ng-submit="addMessage()" name="messageForm">
                <input class="new_message" type="text" placeholder="Compose a new message..." ng-model="message" />
                <div class="info">
                    <button
                            class="waves-effect waves-teal btn-flat middle mdi-content-send"
                            ng-disabled="message.length === 0">
                    </button>
                </div>
            </form>
        </main>
    </div>

    <script th:src="@{/resources/js/libs/jquery-2.1.3.min.js}" src="../resources/js/libs/jquery-2.1.3.min.js"></script>
    <script th:src="@{/resources/js/libs/sock.min.js}" src="../resources/js/libs/sock.min.js"></script>
    <script th:src="@{/resources/js/libs/stomp.min.js}" src="../resources/js/libs/stomp.min.js"></script>
    <script th:src="@{/resources/js/libs/angular.min.js}" src="../resources/js/libs/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.0-beta.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <script th:src="@{/resources/js/libs/lodash.min.js}" src="../resources/js/libs/lodash.min.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script th:src="@{/resources/js/libs/bootstrap.js}" src="../resources/js/libs/bootstrap.js"></script>
    <script th:src="@{/resources/js/libs/materialize.min.js}" src="../resources/js/libs/materialize.min.js"></script>
    <script th:src="@{/resources/js/chatApp.js}" src="../resources/js/chatApp.js"></script>
    <script th:src="@{/resources/js/controllers/chat/header-contacts.js}" src="../resources/js/controllers/chat/header-contacts.js"></script>
    <script th:src="@{/resources/js/controllers/chat/main.js}" src="../resources/js/controllers/chat/main.js"></script>
    <script th:src="@{/resources/js/controllers/chat/search.js}" src="../resources/js/controllers/chat/search.js"></script>
    <script th:src="@{/resources/js/controllers/chatService.js}" src="../resources/js/controllers/chatService.js"></script>
    <script th:src="@{/resources/js/controllers/chat/route.js}" src="../resources/js/controllers/chat/route.js"></script>
</body>
</html>