<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name = "description" content = "" />
    <meta name = "keywords" content = "" />
    <meta name = "robots" content = "" />

    <link th:href="@{/resources/css/bootstrap.css}" href="../resources/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/css/chatstyle.css}" href="../resources/css/chatstyle.css" rel="stylesheet" type="text/css"/>

    <title th:text="#{main.title}"></title>

</head>
<body ng-app="ChatApp">

    <script type="text/ng-template" id="settingsModal.html">
        <div ng-include="'/cactus/pages/settings.html'"></div>
    </script>
    <script type="text/ng-template" id="contactsModal.html">
        <div ng-include="'/cactus/pages/contacts.html'"></div>
    </script>
    <div ng-controller="HeaderContacts">
    <header class="greenheader">
        <a id="logo" href="/cactus/pages/index.html"></a>
        <div ng-controller="HeaderSettings">
            <div class="settings">
                <input id="user-settings" type="button" value="Settings" ng-click="open()"/>
            </div>
        </div>

            <input id="user-contacts" type="button" value="Contacts" ng-click="contacts = !contacts" ng-class="{ active: contacts }"/>

    </header>

        <div class="contacts" ng-show="contacts">
            <div class="contacts-content">
                <form>
                    <legend>Contacts <a href="#" ng-click="add_cont = !add_cont" ng-class="{ active: add_cont }">Add contact</a></legend>
                    <input ng-model="searchText" />
                </form>

                <div>
                    <ul>
                        <li ng-repeat="contact in contactLists | filter:searchText"
                            ng-class="{active:isActiveChat(contact.url)}"
                            ng-click="onClickChat(contact)">{{contact.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="conshadow" ng-click="contacts = false" ng-class="{ active: contacts }"></div>
        </div>
    </div>

    <div ng-controller="ChatApi">
        <aside id="chatlist" style="overflow-y: scroll">
            <input ng-model="searchText" />
            <div>
                <ul>
                    <li ng-repeat="chat in chats | filter:searchText"
                        ng-class="{active:isActiveChat(chat.url)}"
                        ng-click="onClickChat(chat)">{{chat.title}}</li>
                </ul>
            </div>

        </aside>
        <main>
            <div id="chatPreView">
                <div ng-include="currentChat"></div>
            </div>
        </main>

        <script type="text/ng-template" id="force_gripper.tpl.html">
            <div ng-include="'/cactus/pages/chats/force_gripper.html'"></div>
        </script>

        <script type="text/ng-template" id="policebox.tpl.html">
            <div ng-include="'/cactus/pages/chats/policebox.html'"></div>
        </script>
        <script type="text/ng-template" id="albus.tpl.html">
            <div ng-include="'/cactus/pages/chats/albus.html'"></div>
        </script>
        <script type="text/ng-template" id="sauron.tpl.html">
            <div ng-include="'/cactus/pages/chats/sauron.html'"></div>
        </script>
        <script type="text/ng-template" id="wenk-wenk.tpl.html">
            <div ng-include="'/cactus/pages/chats/wenk-wenk.html'"></div>
        </script>


    </div>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.0-beta.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

    <script th:src="@{/resources/js/controllers/controller.js}" src="../resources/js/controllers/controller.js"></script>
    <script th:src="@{/resources/js/bootstrap.js}" src="../resources/js/bootstrap.js"></script>
    <script th:src="@{/resources/js/controllers/chat.js}" src="../resources/js/controllers/chat.js"></script>
</body>
</html>