<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name = "description" content = "" />
    <meta name = "keywords" content = "" />
    <meta name = "robots" content = "" />

    <link th:href="@{/resources/css/chatstyle.css}" href="../resources/css/chatstyle.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/css/materialize.min.css}" href="../resources/css/materialize.min.css" rel="stylesheet" type="text/css"/>

    <title th:text="#{main.title}"></title>

</head>
<body ng-app="chatApp" ng-class="animation">
    <div ng-controller="ChatApiController as api">

        <header class=" contolls" style="background-color: #303F9F">
            <a  href="#/profile" class="av">
                <p ng-cloak="">{{settingsInfo.name}}</p>
                <p ng-cloak="">@{{settingsInfo.login}}</p>
                <img ng-src="{{settingsInfo.photo}}" id="logo"/>
            </a>
            <a href="#/settings" id="user-settings" class="waves-effect waves-light btn-flat" style="background-color: #303F9F">Settings</a>
            <a href="#/contacts" id="user-contacts" class="waves-effect waves-light btn-flat" style="background-color: #303F9F">Contacts</a>
        </header>

        <div ng-view=""  class="contolls view"></div>

        <aside id="chatlist" style="overflow-y: scroll">
            <input type="text" ng-model="searchText" />
            <div>
                <ul>
                    <li ng-repeat="chat in chats | filter:searchText"
                        ng-cloak="">
                        <img ng-src="{{chat.members[0].id != profile.id ? chat.members[1].photo : chat.members[0].photo}}" />
                        <span style="position: relative;">
                            <ul>
                                <li>
                                    {{chat.members[0].id === settingsInfo.id ? chat.members[1].name : chat.members[0].name}}
                                    {{chat.members[0].id === settingsInfo.id ? chat.members[1].login : chat.members[0].login}}
                                </li>
                                <li>
                                    {{chat.last_message}}
                                </li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="fixed-action-btn" style="position: fixed; bottom: 3px; right: 65px;">
            <a>
                <i class="small mdi-editor-attach-file"></i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="large mdi-editor-insert-chart"></i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="large mdi-editor-format-quote"></i></a></li>
                <li><a class="btn-floating green"><i class="large mdi-editor-publish"></i></a></li>
                <li><a class="btn-floating blue"><i class="large mdi-editor-attach-file"></i></a></li>
            </ul>
        </div>
        <main>
            <div id="chatPreView">
                <div class="messages">
                    <ul>
                    <li ng-repeat="history in history | orderBy:'history.id':true" class="message" ng-class="{true:'right', false:'left'}[settingsInfo.id === history.authorId]">
                        <img ng-src="{{settingsInfo.photo}}" class="usr-avatar"/>

                        <span class="msg-text" ng-cloak="">{{history.message}}
                            <p><time class="time" ng-cloak="">{{history.date | date:'HH:mm:ss'}}</time></p>
                        </span>
                    </li>
                <li ng-repeat="message in messages | orderBy:'message.id':true" class="message" ng-class="{true:'right', false:'left'}[settingsInfo.id === message.authorId]">
                    <img ng-src="{{settingsInfo.photo}}" class="usr-avatar"/>

                    <span class="msg-text" ng-cloak="" >{{message.message}}
                        <p><time class="time" ng-cloak="">{{message.date | date:'HH:mm:ss'}}</time></p>
                    </span>
                </li>
                    </ul>
                </div>
            </div>
            <form ng-submit="addMessage()" name="messageForm">
                <input class="new_message" type="text" placeholder="Compose a new message..." ng-model="message" />
                <div class="info">
                    <button
                            class="waves-effect circle waves-teal btn-flat middle mdi-content-send"
                            ng-disabled="message.length === 0">
                    </button>
                </div>
            </form>
        </main>
    </div>

    <script th:inline="javascript">
        var profile = [[${userAccount}]];
        var chats = [[${chats}]];
        var contactIds = [[${contacts}]];
    </script>
    <script th:src="@{/resources/js/libs/jquery-2.1.3.min.js}" src="../resources/js/libs/jquery-2.1.3.min.js"></script>
    <script th:src="@{/resources/js/libs/sock.min.js}" src="../resources/js/libs/sock.min.js"></script>
    <script th:src="@{/resources/js/libs/stomp.min.js}" src="../resources/js/libs/stomp.min.js"></script>
    <script th:src="@{/resources/js/libs/angular.min.js}" src="../resources/js/libs/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.0-beta.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <script th:src="@{/resources/js/libs/lodash.min.js}" src="../resources/js/libs/lodash.min.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script th:src="@{/resources/js/libs/bootstrap.js}" src="../resources/js/libs/bootstrap.js"></script>
    <script th:src="@{/resources/js/libs/materialize.min.js}" src="../resources/js/libs/materialize.min.js"></script>
    <script th:src="@{/resources/js/chatApp.js}" src="../resources/js/chatApp.js"></script>
    <script th:src="@{/resources/js/controllers/chat/main.js}" src="../resources/js/controllers/chat/main.js"></script>
    <script th:src="@{/resources/js/controllers/chat/search.js}" src="../resources/js/controllers/chat/search.js"></script>
    <script th:src="@{/resources/js/controllers/chatService.js}" src="../resources/js/controllers/chatService.js"></script>
    <script th:src="@{/resources/js/controllers/chat/route.js}" src="../resources/js/controllers/chat/route.js"></script>
</body>
</html>