<div class="contact contacts">
<div class="contacts-content">
    <div class=" collection with-header">

    <form class="collection-header">
        <legend>Contacts <a href="#/new">Add contact</a></legend>
        <input ng-model="searchText" />
    </form>

        <ul>
            <li class="collection-item avatar"
                ng-repeat="contact in contactLists | filter:searchText"
                ng-click="onClickChat(contact)">
                <img ng-src="{{contact.photo}}/cactus/resources/tmp/photo.png" alt="" class="photo-preview">
                <span class="title">{{contact.name}}</span>
                <p class="move-bitch">@{{contact.login}} <br>
                    {{contact.email}}
                </p>
            </li>
        </ul>
    </div>
</div>

</div>
<a href="#/" class="conshadow" ></a>