<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" class="no-js" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name = "description" content = "" />
    <meta name = "keywords" content = "" />
    <meta name = "robots" content = "" />

    <link th:href="@{/resources/css/bootstrap.css}" href="../resources/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/resources/css/magic.css}" href="../resources/css/magic.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet" type="text/css"/>

    <title th:text="#{main.title}"></title>

    <script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>

</head>

<body>

    <div class="modal-body">
        <form role="form" method="post" th:action="@{/j_spring_security_check}">
            <input type="email" class="form-control" name="j_username" placeholder="Email" required="" autofocus="" style="margin-bottom: 6px;" />
            <input type="password" class="form-control" name="j_password" placeholder="Password" required="" style="margin-bottom: 6px;" />
            <button class="btn btn-lg btn-info btn-block" type="submit" th:text="#{auth.singin.btn}">Sign in</button>
        </form>
    </div>


</body>
</html>

