<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" class="no-js" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name = "description" content = "" />
    <meta name = "keywords" content = "" />
    <meta name = "robots" content = "" />

    <link th:href="@{/resources/css/bootstrap.css}" href="../resources/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/resources/css/authorize.css}" href="../resources/css/authorize.css" rel="stylesheet" type="text/css"/>

    <title th:text="#{main.title}"></title>
</head>

<body ng-app="LandApp" class="demo-3">

<div id="tabs" ng-controller="TabsCtrl">
    <div id="sign_up">
        <h3>Sign up</h3>
            <form novalidate="" class="css-form" ng-submit="postSignUp()" name="signup_form">
                <hr/>
                <input
                        id="email"
                        type="email"
                        name="email"
                        placeholder="E-mail"
                        ng-model="email"
                        ng-model-options="{updateOn: 'blur'}"
                        autofocus=""
                        required=""/>

                <input id="username"
                       type="text"
                       name="username"
                       placeholder="Usename"
                       ng-model="username"
                       ng-model-options="{updateOn: 'blur'}"
                       required=""/>

                <input
                        id="password"
                        type="password"
                        name="password"
                        placeholder="Password"
                        ng-model="password"
                        ng-model-options="{updateOn: 'blur'}"
                        required="" />

                <input type="submit" id="sub-in" class="btn btn-primary" value="Submit" ng-disabled="signup_form.$invalid" />
                Already have the Hoody? <a href="login" style="color: #31b0d5;">Sign in, dear</a>
            </form>
    </div>
</div>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.0-beta.1/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

<script th:src="@{/resources/js/libs/bootstrap.js}" src="../resources/js/libs/bootstrap.js"></script>
<script th:src="@{/resources/js/controllers/authorization/authorize.js}" src="../resources/js/controllers/authorization/authorize.js"></script>

</body>

</html>


