<div id="sign_in">
    <div class="modal-body">
        <c:url value="/j_spring_security_check" var="loginUrl" />
        <form role="form" novalidate class="css-form"  method="post" th:action="@{/j_spring_security_check}" name="signin_form" ng-submit="login()">
            <legend></legend>
            <input
                    id="email"
                    type="email"
                    name="username"
                    placeholder="E-mail"
                    ng-model="username"
                    ng-model-options="{updateOn: 'blur'}"
                    autofocus
                    required/>
            </br>
            <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Password"
                    ng-model="password"
                    ng-model-options="{updateOn: 'blur'}"
                    required />
            </br>
            <input type="submit" id="sub-in" class="btn btn-primary" value="Submit" th:text="#{auth.signin.btn}" ng-disabled="signin_form.$invalid" />
        </form>
        </div>
    </div>
</div>


