<div id="sign_up">
    <div class="modal-body">
        <form novalidate class="css-form" ng-submit="postSignUp()" name="signup_form">
            <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    ng-model="email"
                    ng-model-options="{updateOn: 'blur'}"
                    required/>
            </br>
            <input id="username"
                   type="text"
                   name="username"
                   placeholder="Usename"
                   ng-model="username"
                   ng-model-options="{updateOn: 'blur'}"
                   required/>
            </br>
            <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Password"
                    ng-model="password"
                    ng-model-options="{updateOn: 'blur'}"
                    required />
            </br>
            <input type="submit" id="sub-in" class="btn btn-primary" value="Submit" ng-disabled="signup_form.$invalid" />
        </form>
    </div>
</div>


