<div id="sign_in">
    <div class="modal-body">
        <c:url value="/j_spring_security_check" var="loginUrl" />
        <form novalidate class="css-form" action="${loginUrl}" method="post" name="signin_form" ng-submit="login()">
            <legend></legend>
            <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    ng-model="credentials.email"
                    ng-model-options="{updateOn: 'blur'}"
                    required/>
            </br>
            <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Password"
                    ng-model="credentials.password"
                    ng-model-options="{updateOn: 'blur'}"
                    required />
            </br>
            <input type="submit" id="sub-in" class="btn btn-primary" value="Submit" ng-disabled="signin_form.$invalid" />
        </form>
        </div>
    </div>
</div>


